.el-tabs {
  .el-tabs__header {
    .el-tabs__item.is-closable {
      padding-left: 13px!important;
      padding-right: 13px!important;
      .is-icon-close {
        width: 14px;
      }
    }
  }
}
.el-select {
  width: 220px;
}
.el-table {
  thead {
    th {
      background-color: @primaryColor!important;
      color: #fff;
    }
  }
}

.el-button--primary {
  border-color: @primaryColor!important;
  background-color: @primaryColor!important;
}
// .el-button:focus, .el-button:hover {
//   color: @primaryColor!important;
// }
.is-active {
  color: @primaryColor!important;
}

li:hover {
  color: @primaryColor!important;
}