
:root,  
:root[theme-mode='blue'] {
  --bg-color: #0052d9;
}
 
:root[theme-mode='dark'] {
  --bg-color: #2c2c2c;
}

:root[theme-mode='orange'] {
  --bg-color: #eb5f0e;
}

:root[theme-mode='white'] {
  --bg-color: #eee4e4;
}

:root[theme-mode='green'] {
  --bg-color: #41af37;
}